@mixin colors-body {
    background-color: $page-bg;
    color: $page-fg;
}

@mixin colors-title {
    color: $title-fg;
}

@mixin colors-subtitle {
    color: $subtitle-fg;
    background-color: $subtitle-bg;
}

@mixin colors-anchor {
    color: $anchor-fg;
}