@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap&subset=latin-ext');

@mixin typography-body {
    font-family: $page-typo;
}

@mixin typography-title {
    font-family: $title-typo;
    text-transform: uppercase;
}

@mixin typography-heart {
    font-size: $heart-typo-size;
    font-weight: bold;
}
